<div id="docs">
	<h2>利用条件</h2>
	本サービスの利用者は、アカウントの作成をもって下記の事項に全て同意したものとします。

	<h3>アカウント</h3>	
	<ul>
		<li>メールアドレスには普段使っているメールアドレスを使うことをおすすめします。不正はメールアドレスを登録してしまうと、パスワードを再発行メールを受信できなくなります。</li>
		<li>パスワードは、他のアカウントで設定したパスワードを使いまわしてはいけません。本サービスはログイン時にパスワードを平文の形でネットワーク上に流します。そのためパスワードが悪意のある第三者に盗聴される可能性があります。</li>
		<li>アカウントを複数人で使いまわしてはいけません。</li>
		<li>アカウントは一度削除すると復旧できません。</li>
	</ul>
	<h3>収集する情報</h3>	
	<ul>
		<li>本サービスはアカウント認証の仕組みの実現のため、以下の情報を収集します：メールアドレス、ユーザー名、パスワード、ログインした回数、最終ログイン日時</li>
		<li>収集した情報は、データベースのバックアップのため複製されることがあります。</li>
		<li>収集した情報を、本サービスの運営以外に使用すること、第三者に送信することはしません。また、収集した情報は本サービスの提供終了とともに削除します。</li>
	</ul>
	<h3>コンテンツの共有</h3>	
	<ul>
		<li>本サービスのURLやドメイン、スクリーンショットは基本的にインターネットを通して（LINEやTwitterを含む）共有してはいけません。</li>
		<li>例外として、理工学部生中国語未習クラスの人へはLINEを通して本サービスのURLやスクリーンショットを共有することができます。</li>
		<li>本サービスのコンテンツと引き換えに、金銭や過去問等を要求することを禁止します。単語データベースは有志により無報酬で作成されたものであり、また当サーバー代は本サービス作成者が負担しています。</li>
	</ul>
	<h3>サービスの提供</h3>	
	<ul>
		<li>本サービスは、期末試験が終わるまで提供する予定ですが、本サービスの作成者が事前の告知なしにいつでも提供を終了できるものとします。</li>
		<li>本サービスの作成者は本サービスの修正や改善をする義務はないものとします。</li>
	</ul>
	<!-- <h3>データベースへの単語の登録</h3>
	<ul>
		<li>単語テスト機能を利用するには、データベースに少なくとも5つの単語を登録する必要があります。</li>
		<li>データベースにはなるべく正確なピンイン、簡体字、意味、ページ、章を入力してください。</li>
		<li>データベースにわざと間違った情報を登録したり、すでに登録された単語を悪意をもって改ざんしてはいけません。</li>
		<li>データベースに載っていた情報が間違っていた場合、すぐに修正してください。</li>
	</ul> -->

	<h3>推奨環境（単語の登録）</h3>
	本サービスの作成者は下記環境で作成しました。下記以外の環境では、画面表示が乱れたりショートカットキーが使えなかったりする場合があります。
	<ul>
		<li>OS：Mac OSX El Captain v10.11.2</li>
		<li>ブラウザ：Chrome 47</li>
	</ul>
	<h3>推奨環境（単語のテスト）</h3>
	<ul>
		<li>OS：Android 4.4</li>
		<li>ブラウザ：Chrome for Android 47</li>
	</ul>
</div>