<div id="ajax-test">
	<table>
		<tbody>
			<tr>
		        <th>pinnin</th>
		        <th>kantaiji</th>
		        <th>hinshi</th>
		        <th>imi</th>
		        <th>rigoushi</th>
		        <th>page</th>
		        <th>section</th>
		    </tr>
		    <!-- yield -->
	    </tbody>
	    
	</table>
	<input type="button" value="追加" id="ajax-button">
	<input type="button" value="submit" id="ajax-submit">

</div>